<!DOCTYPE html>
<html>
 <head> <link href="../Resources/img/MQ_fav.png" type="image/png" rel="icon"><link rel="stylesheet" href="../Resources/css/hfStyle.css">
<link rel="stylesheet" href="../Resources/css/S.css"> </head>
<header>
<img id="Logo" src="../Resources/Img/MQ.png" alt="Meta Quiz Logo"/>
<div class="listContainer">
<ul id="headerList"> 
<li id="headerListPoints" class="rightBorder"> <a id="home" href="index.html" style="color:white;"> Home </a> </li> 
<li id="headerListPoints" class="rightBorder"><a id="home" href="course_selection.html" style="color:white;"> Practice </a> </li>
<li id="headerListPoints"><a id="home" href="user.html" style="color:white;"> Account </a> </li>
</ul>

</div>

<div id="LogTab">
<span id="LogIn"><a id="home" href="log_in.html" style="color:white;">Log In</a> </span>
<span id="SignUp"> <a id="home" href="sign_up.html" style="color:white;"> Sign Up </a></span>
<div>
</header>
<div id="timeleft">
    <div id="timer"></div>
</div>
<main id="aa">
<div class="historyQuestionBody">
    <div class="subInfo" id="title"> History Questions</div>
<form method="" action="" >

	<div class="container">
  <p id="1"> </p>
<div class="options">
    <label class="radioWrapper"> <span id="1A"> </span>
        <input type="radio" id="q21o1" name="q21" value="A">
        <span class="checkmark"></span>
    </label>
    <label class="radioWrapper"> <span id="1B"> </span>
        <input type="radio" id="q21o2" name="q21"value="B">
        <span class="checkmark"></span>
    </label>
    <label class="radioWrapper"> <span id="1C"> </span>
        <input type="radio" id="q21o3" name="q21"value="C">
        <span class="checkmark"></span>
    </label>
    <label class="radioWrapper"> <span id="1D">  </span>
        <input type="radio" id="q21o4" name="q21"value="D">
        <span class="checkmark"></span>
    </label>
	<div class="answers" id="a1"> </div>
</div>
 </div>
	<div class="container">
<p id="2"></p>
<div class="options">
    <label class="radioWrapper"><span id="2A"></span>
        <input type="radio" id="q22o1" name="q22"value="A">
        <span class="checkmark"></span>
    </label>
    <label class="radioWrapper"><span id="2B"></span>
        <input type="radio" id="q22o2" name="q22"value="B">
        <span class="checkmark"></span>
    </label>
    <label class="radioWrapper"><span id="2C"></span>
        <input type="radio" id="q22o3" name="q22"value="C">
        <span class="checkmark"></span>
    </label>
    <label class="radioWrapper"><span id="2D"></span>
        <input type="radio" id="q22o4" name="q22"value="D">
        <span class="checkmark"></span>
    </label>
	<div class="answers" id="a2"> </div>
</div>
</div>

<div class="container">
<p id="3"></p>
<div class="options">
    <label class="radioWrapper"><span id="3A"></span>
        <input type="radio" id="q23o1" name="q23"value="A">
        <span class="checkmark"></span>
    </label>
    <label class="radioWrapper"><span id="3B"></span>
        <input type="radio" id="q23o2" name="q23"value="B">
        <span class="checkmark"></span>
    </label>
    <label class="radioWrapper"><span id="3C"></span>
        <input type="radio" id="q23o3" name="q23"value="C">
        <span class="checkmark"></span>
    </label>
    <label class="radioWrapper"><span id="3D"></span>
        <input type="radio" id="q23o4" name="q23"value="D">
        <span class="checkmark"></span>
    </label>
	<div class="answers" id="a3"> </div>
</div>
</div>


<div class="container">
<p id="4"></p>
<div class="options">
    <label class="radioWrapper"><span id="4A"></span>
        <input type="radio" id="q24o1" name="q24"value="A">
        <span class="checkmark"></span>
    </label>
    <label class="radioWrapper"><span id="4B"></span>
        <input type="radio" id="q24o2" name="q24"value="B">
        <span class="checkmark"></span>
    </label>
    <label class="radioWrapper"><span id="4C"></span>
        <input type="radio" id="q24o3" name="q24"value="C">
        <span class="checkmark"></span>
    </label>
    <label class="radioWrapper"><span id="4D"></span>
        <input type="radio" id="q24o4" name="q24"value="D">
        <span class="checkmark"></span>
    </label>
	<div class="answers" id="a4"> </div>
</div>
 </div>
	<div class="container">
<p id="5"></p>
<div class="options">
    <label class="radioWrapper"><span id="5A"></span>
        <input type="radio" id="q25o1" name="q25"value="A">
        <span class="checkmark"></span>
    </label>
    <label class="radioWrapper"><span id="5B"></span>
        <input type="radio" id="q25o2" name="q25"value="B">
        <span class="checkmark"></span>
    </label>
    <label class="radioWrapper"><span id="5C"></span>
        <input type="radio" id="q25o3" name="q25"value="C">
        <span class="checkmark"></span>
    </label>
    <label class="radioWrapper"><span id="5D"></span>
        <input type="radio" id="q25o4" name="q25"value="D">
        <span class="checkmark"></span>
    </label>
	<div class="answers" id="a5"> </div>
</div>
 </div>

	<div class="container">
<p id="6"></p>
<div class="options">
    <label class="radioWrapper"> <span id="6A"> </span>
        <input type="radio" id="q26o1" name="q26"value="A">
        <span class="checkmark"></span>
    </label>
    <label class="radioWrapper"> <span id="6B"></span>
        <input type="radio" id="q26o2" name="q26"value="B">
        <span class="checkmark"></span>
    </label>
    <label class="radioWrapper"> <span id="6C"> </span>
        <input type="radio" id="q26o3" name="q26"value="C">
        <span class="checkmark"></span>
    </label>
    <label class="radioWrapper"> <span id="6D"> </span>
        <input type="radio" id="q26o4" name="q26"value="D">
        <span class="checkmark"></span>
    </label>
	<div class="answers" id="a6"> </div>
</div>
 </div>
	<div class="container">
<p id="7"></p>
<div class="options">
    <label class="radioWrapper"> <span id="7A">  </span>
        <input type="radio" id="q27o1" name="q27"value="A">
        <span class="checkmark"></span>
    </label>
    <label class="radioWrapper"><span id="7B"> </span>
        <input type="radio" id="q27o2" name="q27"value="B">
        <span class="checkmark"></span>
    </label>
    <label class="radioWrapper"> <span id="7C"></span>
        <input type="radio" id="q27o3" name="q27"value="C">
        <span class="checkmark"></span>
    </label>
    <label class="radioWrapper"><span id="7D"> </span>
        <input type="radio" id="q27o4" name="q27"value="D">
        <span class="checkmark"></span>
    </label>
	<div class="answers" id="a7"> </div>
</div>
 </div>
	<div class="container">
<p id="8"></p>
<div class="options">
    <label class="radioWrapper"> <span id="8A"></span>
        <input type="radio" id="q28o1" name="q28"value="A">
        <span class="checkmark"></span>
    </label>
    <label class="radioWrapper"><span id="8B"></span>
        <input type="radio" id="q28o2" name="q28"value="B">
        <span class="checkmark"></span>
    </label>
    <label class="radioWrapper"> <span id="8C"></span>
        <input type="radio" id="q28o3" name="q28"value="C">
        <span class="checkmark"></span>
    </label>
    <label class="radioWrapper"><span id="8D"></span>
        <input type="radio" id="q28o4" name="q28"value="D">
        <span class="checkmark"></span>
    </label>
	<div class="answers" id="a8"> </div>
</div>
 </div>
	<div class="container">
<p id="9"></p>
<div class="options">
    <label class="radioWrapper"> <span id="9A"></span>
        <input type="radio" id="q29o1" name="q29"value="A">
        <span class="checkmark"></span>
    </label>
    <label class="radioWrapper"><span id="9B"> </span>
        <input type="radio" id="q29o2" name="q29"value="B">
        <span class="checkmark"></span>
    </label>
    <label class="radioWrapper"> <span id="9C"></span>
        <input type="radio" id="q29o3" name="q29"value="C">
        <span class="checkmark"></span>
    </label>
    <label class="radioWrapper"> <span id="9D"></span>
        <input type="radio" id="q29o4" name="q29"value="D">
        <span class="checkmark"></span>
    </label>
	<div class="answers" id="a9"> </div>
</div>
 </div>
	<div class="container">
<p id="10"></p>
<div class="options">
    <label class="radioWrapper"><span id="10A"> </span>
        <input type="radio" id="q30o1" name="q30"value="A">
        <span class="checkmark"></span>
    </label>
    <label class="radioWrapper"><span id="10B"></span>
        <input type="radio" id="q30o2" name="q30"value="B">
        <span class="checkmark"></span>
    </label>
    <label class="radioWrapper"> <span id="10C"></span>
        <input type="radio" id="q30o3" name="q30"value="C">
        <span class="checkmark"></span>
    </label>
    <label class="radioWrapper"> <span id="10D"></span>
        <input type="radio" id="q30o4" name="q30" value="D">
        <span class="checkmark"></span>
    </label>
	<div class="answers" id="a10"> </div>
</div>
</div>
<input type="hidden" id="hiddenField" name="hiddenField" value="his">
<div >
<button type="submit" id="submit">Submit </button> <span>  </span><button type="reset" id="reset">Reset</button>
</div>
</form>

</div>
</main>
<script>
let ad=JSON.parse(sessionStorage.getItem("Added Quiz 3"));
document.getElementById("title").innerHTML=ad.Title;


for(i=0;i<ad.Questions.length;i++){
let j=i+1;
document.getElementById(j).innerHTML=ad.Questions[i];
let holder=ad.Choices[i];
let ansVar=["A","B","C","D"]
for(k=0;k<4;k++){
document.getElementById(j + ansVar[k]).innerHTML=holder[k];}
sessionStorage.setItem("AnswersStorage",ad.Answers);
}



</script>
<footer>
<div class="BoxContainer">
<img id="fLogo" src="../Resources/Img//MQ.png" alt="Meta Quiz Logo"/>

<div class="FBoxes">
<span id="BoxTi">Company</span>
<ul class="Ful"> 
<li id="fLists"> <a style="color:white;" id="home" href="redirect.html"> Who is META?</a> </li>
<li id="fLists"><a style="color:white;" id="home" href="redirect.html"> Where are we? </a></li>
<li id="fLists"><a style="color:white;" id="home" href="redirect.html"> Our Clients? </a></li>
</ul>
 </div>
 
 <div class="FBoxes">
<span id="BoxTi"> Products</span>
<ul class="Ful"> 
<li id="fLists"> <a style="color:white;" id="home" href="redirect.html"> Weather System </a></li>
<li id="fLists"><a style="color:white;" id="home" href="redirect.html"> Book Store</a> </li>
</ul>

 </div>
 
 </div>
 
 <div class="Socials">
 <span id="follow"> Follow Us </span>
 <div id="SM">
 <a id="sLinks" href="http://instagram.com"><img src="../Resources/Img/Insta.png" alt="Instagram"></a>
<a id="sLinks" href="http://facebook.com"> <img src="../Resources/Img/Facebook.png" alt="Facebook"></a>
 <a id="sLinks" href="http://Youtube.com"><img src="../Resources/Img/Youtube.png" alt="YouTube"></a>
<a id="sLinks" href="http://twitter.com"> <img src="../Resources/Img/X.png" alt="Twitte X"></a>
 
 </div>
 </div>
 
 <div id="lic">
 <ul> 
 <li id="footerListPoints" class="rightBorder"><a style="color:white;" id="home" href="redirect.html">Privacy </a></li>
 <li id="footerListPoints" class="rightBorder"> <a style="color:white;" id="home" href="redirect.html">Terms &amp; Conditions </a> </li>
 <li id="footerListPoints"><a style="color:white;" id="home" href="redirect.html"> Security </a></li>
 </ul>
 
 <span id="MetaCopy"> &copy; META 2024 </span>
 </div>
</footer>
<li id="subj" value="his"></li>
<script src="../Resources/js//Timer2.js">

</script>
</html>