<html>
<head> <link rel="stylesheet" href="../Resources/css/hfStyle.css">
<link rel="stylesheet" href="../Resources/css/course_selection.css"> 
<link href="../Resources/img/MQ_fav.png" type="image/png" rel="icon"></head>
<header>
<img id="Logo" src="../Resources/Img/MQ.png" alt="Meta Quiz Logo"/>
<div class="listContainer">
<ul id="headerList"> 
<li id="headerListPoints" class="rightBorder"> <a id="home" href="index.html" style="color:white;"> Home </a> </li> 
<li id="headerListPoints" class="rightBorder"><a id="home" href="course_selection.html" style="color:white;"> Practice </a> </li>
<li id="headerListPoints"><a id="home" href="user.html" style="color:white;"> Account </a> </li>
</ul>
</div>

<div id="LogTab">
<span id="LogIn"><a id="home" href="log_in.html" style="color:white;">Log In</a> </span>
<span id="SignUp"> <a id="home" href="sign_up.html"style="color:white;"> Sign Up </a></span>
<div>
</header>
<body>

<table>
    <tr>
        <div class="Content-image">
            <div class="box" >
                <img src="../Resources/Img/Course Selection.png" alt="Course Selection">
               </div>
                </div>
            </tr><tr>
                <div class="Content-image">
            <div class="box">
                <img id="prac" src="../Resources/Img/Practice Description.png" alt="Practice Explanation">
                
                
            </div>
        </div>
        </tr>
    <tr>
	
<div class="Content">
    <div class="rounded-box" id="sci">
        <img src="../Resources/Img/science.jpg" alt="Science Image">
        <div class="button-container">
            <a id="courseLinks" href="science.html"><button class = "btn-course">Science</button> </a>
            <div class="text-below-button">
                <p>Venture into the vast<br> Universe and validate your<br> Scientific savvy</p>
            </div> 
        </div>
    </div>
   
	
    <div class="rounded-box" id="math">
        <img src="../Resources/Img/Mathematics.png" alt="Science Image">
        <div class="button-container">
          <a id="courseLinks" href="maths.html">   <button class = "btn-course">Mathematics</button> </a>
            <div class="text-below-button">
                <p>Embark on numerical<br> adventure and prove your<br>mathematical might</p>
            </div> 
        </div>
    </div>
    <div class="rounded-box" id="his">
        <img src="../Resources/Img/History.png" alt="Science Image">
        <div class="button-container">
          <a id="courseLinks" href="history.html">   <button class = "btn-course">History</button> </a>
            <div class="text-below-button">
                <p>Travel back in time and<br> unravel the mystery that are <br>buried in the sand of time</p>
            </div> 
        </div>
    </div>
    </div>
</tr>
<tr>
<div class="Content" id="bottomQue">
    <div class="rounded-box" id="tech">
        <img src="../Resources/Img/Technology.png" alt="Science Image">
        <div class="button-container">
           <a id="courseLinks" href="tech.html">  <button class = "btn-course">Technology</button> </a>
            <div class="text-below-button">
                <p>Dive into the digital realm,<br> and the world of silicon, test <br/> your tech-tenacity</p>
            </div> 
        </div>
    </div>

    <div class="rounded-box" id="gk">
        <img src="../Resources/Img/General Knowledge.png" alt="Science Image">
        <div class="button-container">
         <a id="courseLinks" href="general_knowledge.html">   <button class = "btn-course">General Knowledge</button> </a>
            <div class="text-below-button">
                <p>Explore a world of trivia,<br> in an all-encompassing general knowledge quiz</p>
            </div> 
        </div>
    </div>
</div>
</tr>

<tr>
<div class="Content" id="bottomQue">
<div id="ad1">
</div>
<div id="ad2">
</div>
<div id="ad3">
</div>
</div>
</tr>

</table>


</body>


<footer>
<div class="BoxContainer">
<img id="fLogo" src="../Resources/Img//MQ.png" alt="Meta Quiz Logo"/>

<div class="FBoxes">
<span id="BoxTi">Company</span>
<ul class="Ful"> 
<li id="fLists"> <a style="color:white;" id="home" href="redirect.html"> Who is META?</a> </li>
<li id="fLists"><a style="color:white;" id="home" href="redirect.html"> Where are we? </a></li>
<li id="fLists"><a style="color:white;" id="home" href="redirect.html"> Our Clients? </a></li>
</ul>
 </div>
 
 <div class="FBoxes">
<span id="BoxTi"> Products</span>
<ul class="Ful"> 
<li id="fLists"> <a style="color:white;" id="home" href="redirect.html"> Weather System </a></li>
<li id="fLists"><a style="color:white;" id="home" href="redirect.html"> Book Store</a> </li>
</ul>

 </div>
 
 </div>
 
 <div class="Socials">
 <span id="follow"> Follow Us </span>
 <div id="SM">
 <a id="sLinks" href="http://instagram.com"><img src="../Resources/Img/Insta.png" alt="Instagram"></a>
<a id="sLinks" href="http://facebook.com"> <img src="../Resources/Img/Facebook.png" alt="Facebook"></a>
 <a id="sLinks" href="http://Youtube.com"><img src="../Resources/Img/Youtube.png" alt="YouTube"></a>
<a id="sLinks" href="http://twitter.com"> <img src="../Resources/Img/X.png" alt="Twitte X"></a>
 
 </div>
 </div>
 
 <div id="lic">
 <ul> 
 <li id="footerListPoints" class="rightBorder"><a style="color:white;" id="home" href="redirect.html">Privacy </a></li>
 <li id="footerListPoints" class="rightBorder"> <a style="color:white;" id="home" href="redirect.html">Terms &amp; Conditions </a> </li>
 <li id="footerListPoints"><a style="color:white;" id="home" href="redirect.html"> Security </a></li>
 </ul>
 
 <span id="MetaCopy"> &copy; META 2024 </span>
 </div>
</footer>
<script>
let x=sessionStorage.getItem("hisDel");
if(x== 1)document.getElementById('his').remove();

let y=sessionStorage.getItem("techDel");
if(y== 1)document.getElementById('tech').remove();

let z=sessionStorage.getItem("gkDel");
if(z== 1)document.getElementById('gk').remove();

let a=sessionStorage.getItem("sciDel");
if(a== 1)document.getElementById('sci').remove();

let b=sessionStorage.getItem("mathDel");
if(y== 1)document.getElementById('math').remove();

function fun(){
var inp= '<div class="rounded-box" id="tech"> <img src="../Resources/Img/Technology.png" alt="Science Image">  <div class="button-container"> <a id="courseLinks" href="tech.html">  <button class = "btn-course">Technology</button> </a><div class="text-below-button"><p>Dive into the digital realm,<br> and the world of silicon, test <br/> your tech-tenacity</p></div> </div></div>' ;
	document.getElementById("added").innerHTML=inp;
}

if(sessionStorage.getItem("AQ Check 1")==1){
let a1=JSON.parse(sessionStorage.getItem("Added Quiz 1"));
let T1=a1.Title;
let D1=a1.Description;
let img1=a1.Image;

document.getElementById("ad1").innerHTML= "<div class=\"rounded-box\" id=\"add1\"> <img src=\"data:image/png;base64,"+img1+"\" alt=\"Image\"><div class=\"button-container\"><a id=\"courseLinks\" href=\"added_quiz_1.html\">   <button class = \"btn-course\">"+ T1+"</button> </a><div class=\"text-below-button\"><p>"+D1+"</p></div> </div> </div>";}


if(sessionStorage.getItem("AQ Check 2")==1){
let a2=JSON.parse(sessionStorage.getItem("Added Quiz 2"));
let T2=a2.Title;
let D2=a2.Description;
let img2=a2.Image;

document.getElementById("ad2").innerHTML= "<div class=\"rounded-box\" id=\"add1\"> <img src=\"data:image/png;base64,"+img2+"\" alt=\"Image\"><div class=\"button-container\"><a id=\"courseLinks\" href=\"added_quiz_2.html\">   <button class = \"btn-course\">"+T2+"</button> </a><div class=\"text-below-button\"><p>"+D2+"</p></div> </div> </div>";}


if(sessionStorage.getItem("AQ Check 3")==1){
let a3=JSON.parse(sessionStorage.getItem("Added Quiz 3"));
let T3=a3.Title;
let D3=a3.Description;
let img3=a3.Image;
document.getElementById("ad3").innerHTML= "<div class=\"rounded-box\" id=\"add1\"> <img src=\"data:image/png;base64," + img3 + "\" ><div class=\"button-container\"><a id=\"courseLinks\" href=\"added_quiz_3.html\">   <button class = \"btn-course\">"+T3+"</button> </a><div class=\"text-below-button\"><p>"+D3+"</p></div> </div> </div>";}

</script>

</html>