<html>
<head><link href="../Resources/img/MQ_fav.png" type="image/png" rel="icon"> <link rel="stylesheet" href="../Resources/css/hfStyle.css"> </head>
<header>
<img id="Logo" src="../Resources/Img/MQ.png" alt="Meta Quiz Logo"/>
<div class="listContainer">
<ul id="headerList"> 
<li id="headerListPoints" class="rightBorder"> <a id="home" href="index.html" style="color:white;"> Home </a> </li> 
<li id="headerListPoints" class="rightBorder"><a id="home" href="course_selection.html" style="color:white;"> Practice </a> </li>
<li id="headerListPoints"><a id="home" href="about_us.html" style="color:white;"> About Us </a> </li>
</ul>
</div>

<div id="LogTab">
<span id="LogIn"><a id="home" href="log_in.html" style="color:white;">Log In</a> </span>
<span id="SignUp"> <a id="home" href="sign_up.html" style="color:white;"> Sign Up </a></span>
<div>
</header>

<body>
<p id="mottoUp">META QUIZES</p>
<p id="motto"> A NEW REALEM OF STANDARDS</p>
<div class="intro">

<section class="tab">
<img id="introImg" src="../Resources/img/register.png" alt="Register icon"/>
<p id="title">1. <a id="home" href="sign_up.html" style="color:white;">Register </a></p>
<p id="desc"> Regsiter for free to be part of our community </p>
 </section>
 
 
<section class="tab">
<img id="introImg" src="../Resources/Img/practice.png" alt="Register icon"/>
<p id="title">2. <a id="home" href="course_selection.html" style="color:white;"> Practice </a></p>
<p id="desc"> Practice with the best in class questions in the field </p>
 </section>
 
 
<section class="tab">
<img id="introImg" src="../Resources/Img/Personalize.png" alt="Register icon"/>
<p id="title">3. <a id="home" href="sign_up.html" style="color:white;">Personalize </a></p>
<p id="desc"> Personalize your own experience by creating your very own custom quizes </p>
 </section>
 
 
<section class="tab">
<img id="introImg" src="../Resources/Img/Expand.png" alt="Register icon"/>
<p id="title">4. <a id="home" style="color:white;" href="redirect.html">Expand </a></p>
<p id="desc"> Share your progress and journey with your friends and loved ones</p>
 </section> 
 
 
</div>

<div class="Content">
<div class="ConLeft">
<section>
<p class="ConTitle">Ready Made Courses </p>
<p class="ConDesc">Try practicing on our ready made course questions right from the go, from a variety of subjects </p>
<p class="Link"> <a id="home" href="course_selection.html" style="color:white;">Practice Now </a></p>
</section>
<img src="../Resources/Img/Courses.png" alt="Courses Image" />

</div>
<div class="ConRight">
<img src="../Resources/Img/Customize.png" alt="Courses Image" />
<section>
<p class="ConTitle">Customize your own adventure </p>
<p class="ConDesc">Create your own custom quizez like never before </p>
<p class="Link"><a id="home" style="color:white;" href="custom_quiz.html">Customize </a></p>
</section>

</div>
<div class="ConLeft">
<section>
<p class="ConTitle">Share and Expand</p>
<p class="ConDesc">Practice , Customize and share your experience with your beloved ones. All for Free </p>
<p class="Link"> <a id="home" style="color:white;" href="redirect.html">Start Now </a></p>
</section>
<img id ="shareID" src="../Resources/Img/Share.png" alt="Courses Image" />

</div>



</div>

</body>


<footer>
<div class="BoxContainer">
<img id="fLogo" src="../Resources/Img//MQ.png" alt="Meta Quiz Logo"/>

<div class="FBoxes">
<span id="BoxTi">Company</span>
<ul class="Ful"> 
<li id="fLists"> <a style="color:white;" id="home" href="redirect.html"> Who is META?</a> </li>
<li id="fLists"><a style="color:white;" id="home" href="redirect.html"> Where are we? </a></li>
<li id="fLists"><a style="color:white;" id="home" href="redirect.html"> Our Clients? </a></li>
</ul>
 </div>
 
 <div class="FBoxes">
<span id="BoxTi"> Products</span>
<ul class="Ful"> 
<li id="fLists"> <a style="color:white;" id="home" href="redirect.html"> Weather System </a></li>
<li id="fLists"><a style="color:white;" id="home" href="redirect.html"> Book Store</a> </li>
</ul>

 </div>
 
 </div>
 
 <div class="Socials">
 <span id="follow"> Follow Us </span>
 <div id="SM">
 <a id="sLinks" href="http://instagram.com"><img src="../Resources/Img/Insta.png" alt="Instagram"></a>
<a id="sLinks" href="http://facebook.com"> <img src="../Resources/Img/Facebook.png" alt="Facebook"></a>
 <a id="sLinks" href="http://Youtube.com"><img src="../Resources/Img/Youtube.png" alt="YouTube"></a>
<a id="sLinks" href="http://twitter.com"> <img src="../Resources/Img/X.png" alt="Twitte X"></a>
 
 </div>
 </div>
 
 <div id="lic">
 <ul> 
 <li id="footerListPoints" class="rightBorder"><a style="color:white;" id="home" href="redirect.html">Privacy </a></li>
 <li id="footerListPoints" class="rightBorder"> <a style="color:white;" id="home" href="redirect.html">Terms &amp; Conditions </a> </li>
 <li id="footerListPoints"><a style="color:white;" id="home" href="redirect.html"> Security </a></li>
 </ul>
 
 <span id="MetaCopy"> &copy; META 2024 </span>
 </div>
</footer>

</html>