<!DOCTYPE html>
<html>
 <head> <link href="../Resources/img/MQ_fav.png" type="image/png" rel="icon"><link rel="stylesheet" href="../Resources/css/hfStyle.css">
<link rel="stylesheet" href="../Resources/css/S.css"> </head>
<header>
<img id="Logo" src="../Resources/Img/MQ.png" alt="Meta Quiz Logo"/>
<div class="listContainer">
<ul id="headerList"> 
<li id="headerListPoints" class="rightBorder"> <a id="home" href="index.html" style="color:white;"> Home </a> </li> 
<li id="headerListPoints" class="rightBorder"><a id="home" href="course_selection.html" style="color:white;"> Practice </a> </li>
<li id="headerListPoints"><a id="home" href="user.html" style="color:white;"> Account</a> </li>
</ul>
</div>

<div id="LogTab">
<span id="LogIn"><a id="home" href="log_in.html" style="color:white;">Log In</a> </span>
<span id="SignUp"> <a id="home" href="sign_up.html" style="color:white;"> Sign Up </a></span>
<div>
</header>
<body>
    <div id="timeleft">
        <div id="timer"></div>
    </div>
<main id="aa">
<div class="sciQuestionBody">
    <div class="subInfo"> Science Questions</div>
<form method="" action="" >

    <div class="container">
        <p id="1">What is the chemical symbol for gold?</p>
        <div class="options">
            <label class="radioWrapper"> <span id="1A">Gd</span>
                <input type="radio" id="q3111o1" name="q41" value="A">
                <span class="checkmark"></span>
            </label>
            <label class="radioWrapper"> <span id="1B">Au</span>
                <input type="radio" id="q3111o2" name="q41" value="B">
                <span class="checkmark"></span>
            </label>
            <label class="radioWrapper"> <span id="1C">Ag</span>
                <input type="radio" id="q3111o3" name="q41" value="C">
                <span class="checkmark"></span>
            </label>
            <label class="radioWrapper"><span id="1D"> Ga</span>
                <input type="radio" id="q3111o4" name="q41" value="D">
                <span class="checkmark"></span>
            </label>
            <div class="answers" id="a1"></div>
        </div>
    </div>


    
    <div class="container">
        <p id="2">What is the powerhouse of the cell?</p>
        <div class="options">
            <label class="radioWrapper"> <span id="2A">Nucleus</span>
                <input type="radio" id="q3112o1" name="q42" value="A">
                <span class="checkmark"></span>
            </label>
            <label class="radioWrapper"> <span id="2B">Ribosome</span>
                <input type="radio" id="q3112o2" name="q42" value="B">
                <span class="checkmark"></span>
            </label>
            <label class="radioWrapper"> <span id="2C">Mitochondria</span>
                <input type="radio" id="q3112o3" name="q42" value="C">
                <span class="checkmark"></span>
            </label>
            <label class="radioWrapper"> <span id="2D">Endoplasmic Reticulum</span>
                <input type="radio" id="q3112o4" name="q42" value="D">
                <span class="checkmark"></span>
            </label>
            <div class="answers" id="a2"></div>
        </div>
    </div>
    <div class="container">
        <p id="3">What is the speed of light in vacuum?</p>
        <div class="options">
            <label class="radioWrapper"> <span id="3A">3 x 10^8 m/s</span>
                <input type="radio" id="q3113o1" name="q43" value="A">
                <span class="checkmark"></span>
            </label>
            <label class="radioWrapper"> <span id="3B">3 x 10^7 m/s</span>
                <input type="radio" id="q3113o2" name="q43" value="B">
                <span class="checkmark"></span>
            </label>
            <label class="radioWrapper"> <span id="3C">3 x 10^9 m/s</span>
                <input type="radio" id="q3113o3" name="q43" value="C">
                <span class="checkmark"></span>
            </label>
            <label class="radioWrapper"> <span id="3D">3 x 10^6 m/s</span>
                <input type="radio" id="q3113o4" name="q43" value="D">
                <span class="checkmark"></span>
            </label>
            <div class="answers" id="a3"></div>
        </div>
    </div>
    <div class="container">
        <p id="4">Who proposed the theory of evolution?</p>
        <div class="options">
            <label class="radioWrapper"> <span id="4A">Isaac Newton</span>
                <input type="radio" id="q3114o1" name="q44" value="A">
                <span class="checkmark"></span>
            </label>
            <label class="radioWrapper"> <span id="4B">Albert Einstein</span>
                <input type="radio" id="q3114o2" name="q44" value="B">
                <span class="checkmark"></span>
            </label>
            <label class="radioWrapper"> <span id="4C">Charles Darwin</span>
                <input type="radio" id="q3114o3" name="q44" value="C">
                <span class="checkmark"></span>
            </label>
            <label class="radioWrapper"> <span id="4D">Nikola Tesla</span>
                <input type="radio" id="q3114o4" name="q44" value="D">
                <span class="checkmark"></span>
            </label>
            <div class="answers" id="a4"></div>
        </div>
    </div>
    <div class="container">
        <p id="5">What is the most abundant gas in the Earth's atmosphere?</p>
        <div class="options">
            <label class="radioWrapper"> <span id="5A">Oxygen</span>
                <input type="radio" id="q3115o1" name="q45" value="A">
                <span class="checkmark"></span>
            </label>
            <label class="radioWrapper"> <span id="5B">Carbon Dioxide</span>
                <input type="radio" id="q3115o2" name="q45" value="B">
                <span class="checkmark"></span>
            </label>
            <label class="radioWrapper"> <span id="5C">Nitrogen</span>
                <input type="radio" id="q3115o3" name="q45" value="C">
                <span class="checkmark"></span>
            </label>
            <label class="radioWrapper"> <span id="5D">Argon</span>
                <input type="radio" id="q3115o4" name="q45" value="D">
                <span class="checkmark"></span>
            </label>
            <div class="answers" id="a5"></div>
        </div>
    </div>
    


	
    <div class="container">
        <p id="6">What is the pH of pure water at 25°C?</p>
        <div class="options">
            <label class="radioWrapper"> <span id="6A">5</span>
                <input type="radio" id="q3116o1" name="q46" value="A">
                <span class="checkmark"></span>
            </label>
            <label class="radioWrapper"> <span id="6B">7</span>
                <input type="radio" id="q3116o2" name="q46" value="B">
                <span class="checkmark"></span>
            </label>
            <label class="radioWrapper"> <span id="6C">9</span>
                <input type="radio" id="q3116o3" name="q46" value="C">
                <span class="checkmark"></span>
            </label>
            <label class="radioWrapper"> <span id="6D">11</span>
                <input type="radio" id="q3116o4" name="q46" value="D">
                <span class="checkmark"></span>
            </label>
            <div class="answers" id="a6"></div>
        </div>
    </div>
    <div class="container">
        <p id="7">What is the atomic number of hydrogen?</p>
        <div class="options">
            <label class="radioWrapper"> <span id="7A">0</span>
                <input type="radio" id="q3117o1" name="q47" value="A">
                <span class="checkmark"></span>
            </label>
            <label class="radioWrapper"> <span id="7B">1</span>
                <input type="radio" id="q3117o2" name="q47" value="B">
                <span class="checkmark"></span>
            </label>
            <label class="radioWrapper"> <span id="7C">2</span>
                <input type="radio" id="q3117o3" name="q47" value="C">
                <span class="checkmark"></span>
            </label>
            <label class="radioWrapper"> <span id="7D">3</span>
                <input type="radio" id="q3117o4" name="q47" value="D">
                <span class="checkmark"></span>
            </label>
            <div class="answers" id="a7"></div>
        </div>
    </div>
    <div class="container">
        <p id="8">What is the common name for ascorbic acid?</p>
        <div class="options">
            <label class="radioWrapper"> <span id="8A">Vitamin A</span>
                <input type="radio" id="q3118o1" name="q48" value="A">
                <span class="checkmark"></span>
            </label>
            <label class="radioWrapper"> <span id="8B">Vitamin B</span>
                <input type="radio" id="q3118o2" name="q48" value="B">
                <span class="checkmark"></span>
            </label>
            <label class="radioWrapper"> <span id="8C">Vitamin C</span>
                <input type="radio" id="q3118o3" name="q48" value="C">
                <span class="checkmark"></span>
            </label>
            <label class="radioWrapper"> <span id="8D">Vitamin D</span>
                <input type="radio" id="q3118o4" name="q48" value="D">
                <span class="checkmark"></span>
            </label>
            <div class="answers" id="a8"></div>
        </div>
    </div>
    <div class="container">
        <p id="9">What is the freezing point of water in Fahrenheit?</p>
        <div class="options">
            <label class="radioWrapper"> <span id="9A">0°F</span>
                <input type="radio" id="q3119o1" name="q49" value="A">
                <span class="checkmark"></span>
            </label>
            <label class="radioWrapper"> <span id="9B">32°F</span>
                <input type="radio" id="q3119o2" name="q49" value="B">
                <span class="checkmark"></span>
            </label>
            <label class="radioWrapper"> <span id="9C">100°F</span>
                <input type="radio" id="q3119o3" name="q49" value="C">
                <span class="checkmark"></span>
            </label>
            <label class="radioWrapper"> <span id="9D">212°F</span>
                <input type="radio" id="q3119o4" name="q49" value="D">
                <span class="checkmark"></span>
            </label>
            <div class="answers" id="a9"></div>
        </div>
    </div>

    <input type="hidden" id="hiddenField" name="hiddenField" value="sci">    

<div >
<button type="submit" id="submit">Submit </button> <span>  </span><button type="reset" id="reset">Reset</button>
</div>
</form>

</div>
</main>
<script>
let check=sessionStorage.getItem("SciUpdate");
if(check==1){
let History=JSON.parse(sessionStorage.getItem("UpdateSci"));
for(i=0;i<History.Questions.length;i++){
let j=i+1;
document.getElementById(j).innerHTML=History.Questions[i];
let holder=History.Choices[i];
let ansVar=["A","B","C","D"]
for(k=0;k<4;k++){
document.getElementById(j + ansVar[k]).innerHTML=holder[k];}
}

}
</script>
</body>


<footer>
<div class="BoxContainer">
<img id="fLogo" src="../Resources/Img//MQ.png" alt="Meta Quiz Logo"/>

<div class="FBoxes">
<span id="BoxTi">Company</span>
<ul class="Ful"> 
<li id="fLists"> <a style="color:white;" id="home" href="redirect.html"> Who is META?</a> </li>
<li id="fLists"><a style="color:white;" id="home" href="redirect.html"> Where are we? </a></li>
<li id="fLists"><a style="color:white;" id="home" href="redirect.html"> Our Clients? </a></li>
</ul>
 </div>
 
 <div class="FBoxes">
<span id="BoxTi"> Products</span>
<ul class="Ful"> 
<li id="fLists"> <a style="color:white;" id="home" href="redirect.html"> Weather System </a></li>
<li id="fLists"><a style="color:white;" id="home" href="redirect.html"> Book Store</a> </li>
</ul>

 </div>
 
 </div>
 
 <div class="Socials">
 <span id="follow"> Follow Us </span>
 <div id="SM">
 <a id="sLinks" href="http://instagram.com"><img src="../Resources/Img/Insta.png" alt="Instagram"></a>
<a id="sLinks" href="http://facebook.com"> <img src="../Resources/Img/Facebook.png" alt="Facebook"></a>
 <a id="sLinks" href="http://Youtube.com"><img src="../Resources/Img/Youtube.png" alt="YouTube"></a>
<a id="sLinks" href="http://twitter.com"> <img src="../Resources/Img/X.png" alt="Twitte X"></a>
 
 </div>
 </div>
 
 <div id="lic">
 <ul> 
 <li id="footerListPoints" class="rightBorder"><a style="color:white;" id="home" href="redirect.html">Privacy </a></li>
 <li id="footerListPoints" class="rightBorder"> <a style="color:white;" id="home" href="redirect.html">Terms &amp; Conditions </a> </li>
 <li id="footerListPoints"><a style="color:white;" id="home" href="redirect.html"> Security </a></li>
 </ul>
 
 <span id="MetaCopy"> &copy; META 2024 </span>
 </div>
</footer>
<li id="subj" value="sci"></li>
<script src="../Resources/js//Timer.js">


</script>
</html>
