<html>
<head> <link rel="stylesheet" href="../Resources/css/hfStyle.css">
<link rel="stylesheet" href="../Resources/css/course_selection.css"> 
<link href="../Resources/img/MQ_fav.png" type="image/png" rel="icon"></head>
<header>
<img id="Logo" src="../Resources/Img/MQ.png" alt="Meta Quiz Logo"/>
<div class="listContainer">
<ul id="headerList"> 
<li id="headerListPoints" class="rightBorder"> <a id="home" href="index.html" style="color:white;"> Home </a> </li> 
<li id="headerListPoints" class="rightBorder"><a id="home" href="course_selection.html" style="color:white;"> Practice </a> </li>
<li id="headerListPoints"><a id="home" href="about_us.html" style="color:white;"> About Us </a> </li>
</ul>
</div>

<div id="LogTab">
<span id="LogIn"><a id="home" href="log_in.html" style="color:white;">Log In</a> </span>
<span id="SignUp"> <a id="home" href="sign_up.html"style="color:white;"> Sign Up </a></span>
<div>
</header>
<body>

<table>
    <tr>
        <div class="Content-image">
            <div class="box" >
                <img src="../Resources/Img/Course Selection.png" alt="Course Selection">
               </div>
                </div>
            </tr><tr>
                <div class="Content-image">
            <div class="box">
                <img id="prac" src="../Resources/Img/Practice Description.png" alt="Practice Explanation">
                
                
            </div>
        </div>
        </tr>
    <tr>
	
<div class="Content">
    <div class="rounded-box">
        <img src="../Resources/Img/science.jpg" alt="Science Image">
        <div class="button-container">
            <a id="courseLinks" href="science.html"><button class = "btn-course">Science</button> </a>
            <div class="text-below-button">
                <p>Venture into the vast<br> Universe and validate your<br> Scientific savvy</p>
            </div> 
        </div>
    </div>
   
	
    <div class="rounded-box">
        <img src="../Resources/Img/Mathematics.png" alt="Science Image">
        <div class="button-container">
          <a id="courseLinks" href="maths.html">   <button class = "btn-course">Mathematics</button> </a>
            <div class="text-below-button">
                <p>Embark on numerical<br> adventure and prove your<br>mathematical might</p>
            </div> 
        </div>
    </div>
    <div class="rounded-box">
        <img src="../Resources/Img/History.png" alt="Science Image">
        <div class="button-container">
          <a id="courseLinks" href="history.html">   <button class = "btn-course">History</button> </a>
            <div class="text-below-button">
                <p>Travel back in time and<br> unravel the mystery that are <br>buried in the sand of time</p>
            </div> 
        </div>
    </div>
    </div>
</tr>
<tr>
<div class="Content" id="bottomQue">
    <div class="rounded-box">
        <img src="../Resources/Img/Technology.png" alt="Science Image">
        <div class="button-container">
           <a id="courseLinks" href="tech.html">  <button class = "btn-course">Technology</button> </a>
            <div class="text-below-button">
                <p>Dive into the digital realm,<br> and the world of silicon, test <br/> your tech-tenacity</p>
            </div> 
        </div>
    </div>

    <div class="rounded-box">
        <img src="../Resources/Img/General Knowledge.png" alt="Science Image">
        <div class="button-container">
         <a id="courseLinks" href="general_knowledge.html">   <button class = "btn-course">General Knowledge</button> </a>
            <div class="text-below-button">
                <p>Explore a world of trivia,<br> in an all-encompassing general knowledge quiz</p>
            </div> 
        </div>
    </div>
</div>
</tr>

</table>
</body>


<footer>
<div class="BoxContainer">
<img id="fLogo" src="../Resources/Img//MQ.png" alt="Meta Quiz Logo"/>

<div class="FBoxes">
<span id="BoxTi">Company</span>
<ul class="Ful"> 
<li id="fLists"> <a style="color:white;" id="home" href="redirect.html"> Who is META?</a> </li>
<li id="fLists"><a style="color:white;" id="home" href="redirect.html"> Where are we? </a></li>
<li id="fLists"><a style="color:white;" id="home" href="redirect.html"> Our Clients? </a></li>
</ul>
 </div>
 
 <div class="FBoxes">
<span id="BoxTi"> Products</span>
<ul class="Ful"> 
<li id="fLists"> <a style="color:white;" id="home" href="redirect.html"> Weather System </a></li>
<li id="fLists"><a style="color:white;" id="home" href="redirect.html"> Book Store</a> </li>
</ul>

 </div>
 
 </div>
 
 <div class="Socials">
 <span id="follow"> Follow Us </span>
 <div id="SM">
 <a id="sLinks" href="http://instagram.com"><img src="../Resources/Img/Insta.png" alt="Instagram"></a>
<a id="sLinks" href="http://facebook.com"> <img src="../Resources/Img/Facebook.png" alt="Facebook"></a>
 <a id="sLinks" href="http://Youtube.com"><img src="../Resources/Img/Youtube.png" alt="YouTube"></a>
<a id="sLinks" href="http://twitter.com"> <img src="../Resources/Img/X.png" alt="Twitte X"></a>
 
 </div>
 </div>
 
 <div id="lic">
 <ul> 
 <li id="footerListPoints" class="rightBorder"><a style="color:white;" id="home" href="redirect.html">Privacy </a></li>
 <li id="footerListPoints" class="rightBorder"> <a style="color:white;" id="home" href="redirect.html">Terms &amp; Conditions </a> </li>
 <li id="footerListPoints"><a style="color:white;" id="home" href="redirect.html"> Security </a></li>
 </ul>
 
 <span id="MetaCopy"> &copy; META 2024 </span>
 </div>
</footer>


</html>