<!DOCTYPE html>
<html>
   <head><link href="../Resources/img/MQ_fav.png" type="image/png" rel="icon"> <link rel="stylesheet" href="../Resources/css/hfStyle.css"> 
   <link rel="stylesheet" href="../Resources/css/S.css"></head>
<header>
<img id="Logo" src="../Resources/Img/MQ.png" alt="Meta Quiz Logo"/>
<div class="listContainer">
<ul id="headerList"> 
<li id="headerListPoints" class="rightBorder"> <a id="home" href="index.html" style="color:white;"> Home </a> </li> 
<li id="headerListPoints" class="rightBorder"><a id="home" href="course_selection.html" style="color:white;"> Practice </a> </li>
<li id="headerListPoints"><a id="home" href="about_us.html" style="color:white;"> About Us </a> </li>
</ul>
</div>

<div id="LogTab">
<span id="LogIn"><a id="home" href="log_in.html" style="color:white;">Log In</a> </span>
<span id="SignUp"> <a id="home" href="sign_up.html" style="color:white;"> Sign Up </a></span>
<div>
</header>

<body>
<main>
<div class="genQuestionBody">
<div class="subInfo"> General Knowledge</div>
<form method="" action="" >
 <div class="container">
    <p>Which planet is known as the Red Planet?</p>
    <div class="options">
        <label class="radioWrapper"> Venus
            <input type="radio" id="q3101o1" name="q31">
            <span class="checkmark"></span>
        </label>
        <label class="radioWrapper"> Mars
            <input type="radio" id="q3101o2" name="q31">
            <span class="checkmark"></span>
        </label>
        <label class="radioWrapper"> Jupiter
            <input type="radio" id="q3101o3" name="q31">
            <span class="checkmark"></span>
        </label>
        <label class="radioWrapper"> Saturn
            <input type="radio" id="q3101o4" name="q31">
            <span class="checkmark"></span>
        </label>
    </div>
	</div>
    
	<div class="container">
    <p>Who wrote the novel "To Kill a Mockingbird"?</p>
    <div class="options">
        <label class="radioWrapper"> Harper Lee
            <input type="radio" id="q3102o1" name="q32">
            <span class="checkmark"></span>
        </label>
        <label class="radioWrapper"> Mark Twain
            <input type="radio" id="q3102o2" name="q32">
            <span class="checkmark"></span>
        </label>
        <label class="radioWrapper"> Jane Austen
            <input type="radio" id="q3102o3" name="q32">
            <span class="checkmark"></span>
        </label>
        <label class="radioWrapper"> Charles Dickens
            <input type="radio" id="q3102o4" name="q32">
            <span class="checkmark"></span>
        </label>
    </div>
	</div>
    
	<div class="container">
    <p>What is the capital of Australia?</p>
    <div class="options">
        <label class="radioWrapper"> Sydney
            <input type="radio" id="q3103o1" name="q33">
            <span class="checkmark"></span>
        </label>
        <label class="radioWrapper"> Melbourne
            <input type="radio" id="q3103o2" name="q33">
            <span class="checkmark"></span>
        </label>
        <label class="radioWrapper"> Canberra
            <input type="radio" id="q3103o3" name="q33">
            <span class="checkmark"></span>
        </label>
        <label class="radioWrapper"> Perth
            <input type="radio" id="q3103o4" name="q33">
            <span class="checkmark"></span>
        </label>
    </div>
	</div>
	
	
    <div class="container">
    <p>Which artist painted the Mona Lisa?</p>
    <div class="options">
        <label class="radioWrapper"> Vincent van Gogh
            <input type="radio" id="q3104o1" name="q34">
            <span class="checkmark"></span>
        </label>
        <label class="radioWrapper"> Pablo Picasso
            <input type="radio" id="q3104o2" name="q34">
            <span class="checkmark"></span>
        </label>
        <label class="radioWrapper"> Leonardo da Vinci
            <input type="radio" id="q3104o3" name="q34">
            <span class="checkmark"></span>
        </label>
        <label class="radioWrapper"> Michelangelo
            <input type="radio" id="q3104o4" name="q34">
            <span class="checkmark"></span>
        </label>
    </div>
	</div>
    
	<div class="container">
    <p>What is the largest ocean on Earth?</p>
    <div class="options">
        <label class="radioWrapper"> Atlantic Ocean
            <input type="radio" id="q3105o1" name="q35">
            <span class="checkmark"></span>
        </label>
        <label class="radioWrapper"> Indian Ocean
            <input type="radio" id="q3105o2" name="q35">
            <span class="checkmark"></span>
        </label>
        <label class="radioWrapper"> Arctic Ocean
            <input type="radio" id="q3105o3" name="q35">
            <span class="checkmark"></span>
        </label>
        <label class="radioWrapper"> Pacific Ocean
            <input type="radio" id="q3105o4" name="q35">
            <span class="checkmark"></span>
        </label>
    </div>
	</div>
    
	<div class="container">
    <p>Which country is the largest by land area?</p>
    <div class="options">
        <label class="radioWrapper"> Canada
            <input type="radio" id="q3106o1" name="q36">
            <span class="checkmark"></span>
        </label>
        <label class="radioWrapper"> China
            <input type="radio" id="q3106o2" name="q36">
            <span class="checkmark"></span>
        </label>
        <label class="radioWrapper"> United States
            <input type="radio" id="q3106o3" name="q36">
            <span class="checkmark"></span>
        </label>
        <label class="radioWrapper"> Russia
            <input type="radio" id="q3106o4" name="q36">
            <span class="checkmark"></span>
        </label>
    </div>
	</div>
    
	<div class="container">
    <p>What is the smallest country in the world?</p>
    <div class="options">
        <label class="radioWrapper"> Monaco
            <input type="radio" id="q3107o1" name="q37">
            <span class="checkmark"></span>
        </label>
        <label class="radioWrapper"> Nauru
            <input type="radio" id="q3107o2" name="q37">
            <span class="checkmark"></span>
        </label>
        <label class="radioWrapper"> Tuvalu
            <input type="radio" id="q3107o3" name="q37">
            <span class="checkmark"></span>
        </label>
        <label class="radioWrapper"> Vatican City
            <input type="radio" id="q3107o4" name="q37">
            <span class="checkmark"></span>
        </label>
    </div>
	</div>
    
	<div class="container">
    <p>Which language is most widely spoken in the world?</p>
    <div class="options">
        <label class="radioWrapper"> English
            <input type="radio" id="q3108o1" name="q38">
            <span class="checkmark"></span>
        </label>
        <label class="radioWrapper"> Mandarin Chinese
            <input type="radio" id="q3108o2" name="q38">
            <span class="checkmark"></span>
        </label>
        <label class="radioWrapper"> Spanish
            <input type="radio" id="q3108o3" name="q38">
            <span class="checkmark"></span>
        </label>
        <label class="radioWrapper"> Hindi
            <input type="radio" id="q3108o4" name="q38">
            <span class="checkmark"></span>
        </label>
    </div>
	</div>
	
	
    <div class="container">
    <p>What is the tallest mountain in the world?</p>
    <div class="options">
        <label class="radioWrapper"> Mount Everest
            <input type="radio" id="q3109o1" name="q39">
            <span class="checkmark"></span>
        </label>
        <label class="radioWrapper"> K2
            <input type="radio" id="q3109o2" name="q39">
            <span class="checkmark"></span>
        </label>
        <label class="radioWrapper"> Kangchenjunga
            <input type="radio" id="q3109o3" name="q39">
            <span class="checkmark"></span>
        </label>
        <label class="radioWrapper"> Lhotse
            <input type="radio" id="q3109o4" name="q39">
            <span class="checkmark"></span>
        </label>
    </div>
	</div>
    
	<div class="container">
    <p>Which animal is the largest on Earth?</p>
    <div class="options">
        <label class="radioWrapper"> African Elephant
            <input type="radio" id="q3110o1" name="q40">
            <span class="checkmark"></span>
        </label>
        <label class="radioWrapper"> Blue Whale
            <input type="radio" id="q3110o2" name="q40">
            <span class="checkmark"></span>
        </label>
        <label class="radioWrapper"> Saltwater Crocodile
            <input type="radio" id="q3110o3" name="q40">
            <span class="checkmark"></span>
</div>
<div  class="buttons">
<button class="controllers" type="submit" id="submit">Submit </button> <button class="controllers" type="reset" id="reset">Reset</button>
</div>
</form>

</div>
</main>
</body>


<footer>
<div class="BoxContainer">
<img id="fLogo" src="../Resources/Img//MQ.png" alt="Meta Quiz Logo"/>

<div class="FBoxes">
<span id="BoxTi">Company</span>
<ul class="Ful"> 
<li id="fLists"> <a style="color:white;" id="home" href="redirect.html"> Who is META?</a> </li>
<li id="fLists"><a style="color:white;" id="home" href="redirect.html"> Where are we? </a></li>
<li id="fLists"><a style="color:white;" id="home" href="redirect.html"> Our Clients? </a></li>
</ul>
 </div>
 
 <div class="FBoxes">
<span id="BoxTi"> Products</span>
<ul class="Ful"> 
<li id="fLists"> <a style="color:white;" id="home" href="redirect.html"> Weather System </a></li>
<li id="fLists"><a style="color:white;" id="home" href="redirect.html"> Book Store</a> </li>
</ul>

 </div>
 
 </div>
 
 <div class="Socials">
 <span id="follow"> Follow Us </span>
 <div id="SM">
 <a id="sLinks" href="http://instagram.com"><img src="../Resources/Img/Insta.png" alt="Instagram"></a>
<a id="sLinks" href="http://facebook.com"> <img src="../Resources/Img/Facebook.png" alt="Facebook"></a>
 <a id="sLinks" href="http://Youtube.com"><img src="../Resources/Img/Youtube.png" alt="YouTube"></a>
<a id="sLinks" href="http://twitter.com"> <img src="../Resources/Img/X.png" alt="Twitte X"></a>
 
 </div>
 </div>
 
 <div id="lic">
 <ul> 
 <li id="footerListPoints" class="rightBorder"><a style="color:white;" id="home" href="redirect.html">Privacy </a></li>
 <li id="footerListPoints" class="rightBorder"> <a style="color:white;" id="home" href="redirect.html">Terms &amp; Conditions </a> </li>
 <li id="footerListPoints"><a style="color:white;" id="home" href="redirect.html"> Security </a></li>
 </ul>
 
 <span id="MetaCopy"> &copy; META 2024 </span>
 </div>
</footer>

</html>