<!DOCTYPE html>
<html>
 <head> <link href="../Resources/img/MQ_fav.png" type="image/png" rel="icon"><link rel="stylesheet" href="../Resources/css/hfStyle.css">
<link rel="stylesheet" href="../Resources/css/S.css"> </head>
<header>
<img id="Logo" src="../Resources/Img/MQ.png" alt="Meta Quiz Logo"/>
<div class="listContainer">
<ul id="headerList"> 
<li id="headerListPoints" class="rightBorder"> <a id="home" href="index.html" style="color:white;"> Home </a> </li> 
<li id="headerListPoints" class="rightBorder"><a id="home" href="course_selection.html" style="color:white;"> Practice </a> </li>
<li id="headerListPoints"><a id="home" href="about_us.html" style="color:white;"> About Us </a> </li>
</ul>
</div>

<div id="LogTab">
<span id="LogIn"><a id="home" href="log_in.html" style="color:white;">Log In</a> </span>
<span id="SignUp"> <a id="home" href="sign_up.html" style="color:white;"> Sign Up </a></span>
<div>
</header>

<main>
<div class="historyQuestionBody">
    <div class="subInfo"> History Questions</div>
<form method="" action="" >

	<div class="container">
  <p> Who was the last emperor of Ethiopia?</p>
<div class="options">
    <label class="radioWrapper"> Menelik II
        <input type="radio" id="q21o1" name="q21">
        <span class="checkmark"></span>
    </label>
    <label class="radioWrapper"> Haile Selassie
        <input type="radio" id="q21o2" name="q21">
        <span class="checkmark"></span>
    </label>
    <label class="radioWrapper"> Tewodros II
        <input type="radio" id="q21o3" name="q21">
        <span class="checkmark"></span>
    </label>
    <label class="radioWrapper"> Yohannes IV
        <input type="radio" id="q21o4" name="q21">
        <span class="checkmark"></span>
    </label>
</div>
 </div>
	<div class="container">
<p>What is the ancient name of Ethiopia?</p>
<div class="options">
    <label class="radioWrapper"> Nubia
        <input type="radio" id="q22o1" name="q22">
        <span class="checkmark"></span>
    </label>
    <label class="radioWrapper"> Punt
        <input type="radio" id="q22o2" name="q22">
        <span class="checkmark"></span>
    </label>
    <label class="radioWrapper"> Abyssinia
        <input type="radio" id="q22o3" name="q22">
        <span class="checkmark"></span>
    </label>
    <label class="radioWrapper"> Kush
        <input type="radio" id="q22o4" name="q22">
        <span class="checkmark"></span>
    </label>
</div>
 </div>
	<div class="container">

<p>Which famous obelisks are found in the ancient city of Aksum?</p>
<div class="options">
    <label class="radioWrapper"> Luxor Obelisks
        <input type="radio" id="q23o1" name="q23">
        <span class="checkmark"></span>
    </label>
    <label class="radioWrapper"> Cleopatra's Needle
        <input type="radio" id="q23o2" name="q23">
        <span class="checkmark"></span>
    </label>
    <label class="radioWrapper"> Obelisks of Theodosius
        <input type="radio" id="q23o3" name="q23">
        <span class="checkmark"></span>
    </label>
    <label class="radioWrapper"> Obelisks of Aksum
        <input type="radio" id="q23o4" name="q23">
        <span class="checkmark"></span>
    </label>
</div>

 </div>
	<div class="container">
<p>The Battle of Adwa was a significant event in Ethiopian history. Who were the opposing forces?</p>
<div class="options">
    <label class="radioWrapper"> Ethiopia and Italy
        <input type="radio" id="q24o1" name="q24">
        <span class="checkmark"></span>
    </label>
    <label class="radioWrapper"> Ethiopia and Egypt
        <input type="radio" id="q24o2" name="q24">
        <span class="checkmark"></span>
    </label>
    <label class="radioWrapper"> Ethiopia and Britain
        <input type="radio" id="q24o3" name="q24">
        <span class="checkmark"></span>
    </label>
    <label class="radioWrapper"> Ethiopia and France
        <input type="radio" id="q24o4" name="q24">
        <span class="checkmark"></span>
    </label>
</div>
 </div>
	<div class="container">
<p>Lalibela is known for its distinctive rock-cut churches. In which century were they built?</p>
<div class="options">
    <label class="radioWrapper"> 7th Century
        <input type="radio" id="q25o1" name="q25">
        <span class="checkmark"></span>
    </label>
    <label class="radioWrapper"> 11th Century
        <input type="radio" id="q25o2" name="q25">
        <span class="checkmark"></span>
    </label>
    <label class="radioWrapper"> 13th Century
        <input type="radio" id="q25o3" name="q25">
        <span class="checkmark"></span>
    </label>
    <label class="radioWrapper"> 15th Century
        <input type="radio" id="q25o4" name="q25">
        <span class="checkmark"></span>
    </label>
</div>
 </div>
	<div class="container">
<p>Who was Empress Taytu Betul and what is her significance in Ethiopian history?</p>
<div class="options">
    <label class="radioWrapper"> She was the first female pilot in Ethiopia
        <input type="radio" id="q26o1" name="q26">
        <span class="checkmark"></span>
    </label>
    <label class="radioWrapper"> She was a warrior queen who fought against Italian invasion
        <input type="radio" id="q26o2" name="q26">
        <span class="checkmark"></span>
    </label>
    <label class="radioWrapper"> She was the wife of Emperor Haile Selassie
        <input type="radio" id="q26o3" name="q26">
        <span class="checkmark"></span>
    </label>
    <label class="radioWrapper"> She was a famous poet and author
        <input type="radio" id="q26o4" name="q26">
        <span class="checkmark"></span>
    </label>
</div>
 </div>
	<div class="container">
<p>The Solomonic Dynasty claimed descent from which biblical figure?</p>
<div class="options">
    <label class="radioWrapper"> Moses
        <input type="radio" id="q27o1" name="q27">
        <span class="checkmark"></span>
    </label>
    <label class="radioWrapper"> Solomon
        <input type="radio" id="q27o2" name="q27">
        <span class="checkmark"></span>
    </label>
    <label class="radioWrapper"> David
        <input type="radio" id="q27o3" name="q27">
        <span class="checkmark"></span>
    </label>
    <label class="radioWrapper"> Abraham
        <input type="radio" id="q27o4" name="q27">
        <span class="checkmark"></span>
    </label>
</div>
 </div>
	<div class="container">
<p>What was the Derg regime, and when did it rule Ethiopia?</p>
<div class="options">
    <label class="radioWrapper"> A democratic government, ruled in the 19th century
        <input type="radio" id="q28o1" name="q28">
        <span class="checkmark"></span>
    </label>
    <label class="radioWrapper"> A communist military junta, ruled from 1974 to 1987
        <input type="radio" id="q28o2" name="q28">
        <span class="checkmark"></span>
    </label>
    <label class="radioWrapper"> A monarchist regime, ruled in the early 20th century
        <input type="radio" id="q28o3" name="q28">
        <span class="checkmark"></span>
    </label>
    <label class="radioWrapper"> A colonial government, ruled during the 1930s
        <input type="radio" id="q28o4" name="q28">
        <span class="checkmark"></span>
    </label>
</div>
 </div>
	<div class="container">
<p>Ethiopia has a unique calendar system. How does it differ from the Gregorian calendar used by much of the world?</p>
<div class="options">
    <label class="radioWrapper"> It has 13 months
        <input type="radio" id="q29o1" name="q29">
        <span class="checkmark"></span>
    </label>
    <label class="radioWrapper"> It has 10 months
        <input type="radio" id="q29o2" name="q29">
        <span class="checkmark"></span>
    </label>
    <label class="radioWrapper"> It has no leap year
        <input type="radio" id="q29o3" name="q29">
        <span class="checkmark"></span>
    </label>
    <label class="radioWrapper"> It starts in March
        <input type="radio" id="q29o4" name="q29">
        <span class="checkmark"></span>
    </label>
</div>
 </div>
	<div class="container">
<p>The Rastafari movement holds Ethiopia in high regard due to the belief in the divinity of a certain Ethiopian emperor. Who is this emperor?</p>
<div class="options">
    <label class="radioWrapper"> Menelik II
        <input type="radio" id="q30o1" name="q30">
        <span class="checkmark"></span>
    </label>
    <label class="radioWrapper"> Tewodros II
        <input type="radio" id="q30o2" name="q30">
        <span class="checkmark"></span>
    </label>
    <label class="radioWrapper"> Haile Selassie
        <input type="radio" id="q30o3" name="q30">
        <span class="checkmark"></span>
    </label>
    <label class="radioWrapper"> Yohannes IV
        <input type="radio" id="q30o4" name="q30">
        <span class="checkmark"></span>
    </label>
</div>
</div>
<div >
<button type="submit" id="submit">Submit </button> <span>  </span><button type="reset" id="reset">Reset</button>
</div>
</form>

</div>
</main>

<footer>
<div class="BoxContainer">
<img id="fLogo" src="../Resources/Img//MQ.png" alt="Meta Quiz Logo"/>

<div class="FBoxes">
<span id="BoxTi">Company</span>
<ul class="Ful"> 
<li id="fLists"> <a style="color:white;" id="home" href="redirect.html"> Who is META?</a> </li>
<li id="fLists"><a style="color:white;" id="home" href="redirect.html"> Where are we? </a></li>
<li id="fLists"><a style="color:white;" id="home" href="redirect.html"> Our Clients? </a></li>
</ul>
 </div>
 
 <div class="FBoxes">
<span id="BoxTi"> Products</span>
<ul class="Ful"> 
<li id="fLists"> <a style="color:white;" id="home" href="redirect.html"> Weather System </a></li>
<li id="fLists"><a style="color:white;" id="home" href="redirect.html"> Book Store</a> </li>
</ul>

 </div>
 
 </div>
 
 <div class="Socials">
 <span id="follow"> Follow Us </span>
 <div id="SM">
 <a id="sLinks" href="http://instagram.com"><img src="../Resources/Img/Insta.png" alt="Instagram"></a>
<a id="sLinks" href="http://facebook.com"> <img src="../Resources/Img/Facebook.png" alt="Facebook"></a>
 <a id="sLinks" href="http://Youtube.com"><img src="../Resources/Img/Youtube.png" alt="YouTube"></a>
<a id="sLinks" href="http://twitter.com"> <img src="../Resources/Img/X.png" alt="Twitte X"></a>
 
 </div>
 </div>
 
 <div id="lic">
 <ul> 
 <li id="footerListPoints" class="rightBorder"><a style="color:white;" id="home" href="redirect.html">Privacy </a></li>
 <li id="footerListPoints" class="rightBorder"> <a style="color:white;" id="home" href="redirect.html">Terms &amp; Conditions </a> </li>
 <li id="footerListPoints"><a style="color:white;" id="home" href="redirect.html"> Security </a></li>
 </ul>
 
 <span id="MetaCopy"> &copy; META 2024 </span>
 </div>
</footer>

</html>