<!DOCTYPE html>
<html>
 <head> <link href="../Resources/img/MQ_fav.png" type="image/png" rel="icon"><link rel="stylesheet" href="../Resources/css/hfStyle.css"> 
 <link rel="stylesheet" href="../Resources/css/S.css"></head>
<header>
<img id="Logo" src="../Resources/Img/MQ.png" alt="Meta Quiz Logo"/>
<div class="listContainer">
<ul id="headerList"> 
<li id="headerListPoints" class="rightBorder"> <a id="home" href="index.html" style="color:white;"> Home </a> </li> 
<li id="headerListPoints" class="rightBorder"><a id="home" href="course_selection.html" style="color:white;"> Practice </a> </li>
<li id="headerListPoints"><a id="home" href="about_us.html" style="color:white;"> About Us </a> </li>
</ul>
</div>

<div id="LogTab">
<span id="LogIn"><a id="home" href="log_in.html" style="color:white;">Log In</a> </span>
<span id="SignUp"> <a id="home" href="sign_up.html" style="color:white;"> Sign Up </a></span>
<div>
</header>

<main>

<div class="mathQuestionBody">
    <div class="subInfo"> Maths Questions</div>
<form method="" action="" >
 
	<div class="container">
  <p>What is the value of <em>f(x)</em> in the question <em>2x + 3 = 9</em>?</p>
<div class="options">
    <label class="radioWrapper"> 2
        <input type="radio" id="q1o1" name="q1">
        <span class="checkmark"></span>
    </label>
    <label class="radioWrapper"> 3
        <input type="radio" id="q1o2" name="q1">
        <span class="checkmark"></span>
    </label>
    <label class="radioWrapper"> 4
        <input type="radio" id="q1o3" name="q1">
        <span class="checkmark"></span>
    </label>
    <label class="radioWrapper"> 4
        <input type="radio" id="q1o4" name="q1">
        <span class="checkmark"></span>
    </label>
</div>
 </div>
	<div class="container">
<p>What is the integral of <em>f(x) = 2x</em> ?</p>
<div class="options">
    <label class="radioWrapper"> x<sup>2</sup> + c
        <input type="radio" id="q3o1" name="q3">
        <span class="checkmark"></span>
    </label>
    <label class="radioWrapper"> 2x<sup>2</sup> + c
        <input type="radio" id="q3o2" name="q3">
        <span class="checkmark"></span>
    </label>
    <label class="radioWrapper"> x<sup>2</sup>
        <input type="radio" id="q3o3" name="q3">
        <span class="checkmark"></span>
    </label>
    <label class="radioWrapper"> 2x<sup>2</sup>
        <input type="radio" id="q3o4" name="q3">
        <span class="checkmark"></span>
    </label>
</div>
 </div>
	<div class="container">
<p>What is the area of a circle with radius <em>r = 3</em> units?</p>
<div class="options">
    <label class="radioWrapper">6 &pi;
        <input type="radio" id="q4o1" name="q4">
        <span class="checkmark"></span>
    </label>
    <label class="radioWrapper"> 9 &pi;
        <input type="radio" id="q4o2" name="q4">
        <span class="checkmark"></span>
    </label>
    <label class="radioWrapper">12 &pi;
        <input type="radio" id="q4o3" name="q4">
        <span class="checkmark"></span>
    </label>
    <label class="radioWrapper"> 18 &pi;
        <input type="radio" id="q4o4" name="q4">
        <span class="checkmark"></span>
    </label>
</div>
 </div>
	<div class="container">
<p>What is the value of <em>sin(0)</em>?</p>
<div class="options">
    <label class="radioWrapper"> 0
        <input type="radio" id="q5o1" name="q5">
        <span class="checkmark"></span>
    </label>
    <label class="radioWrapper"> 1
        <input type="radio" id="q5o2" name="q5">
        <span class="checkmark"></span>
    </label>
    <label class="radioWrapper"> -1
        <input type="radio" id="q5o3" name="q5">
        <span class="checkmark"></span>
    </label>
    <label class="radioWrapper"> 0.5
        <input type="radio" id="q5o4" name="q5">
        <span class="checkmark"></span>
    </label>
</div>
 </div>
	<div class="container">

<p>What is the value of <em>cos( &pi;)</em>?</p>
<div class="options">
    <label class="radioWrapper"> 0
        <input type="radio" id="q6o1" name="q6">
        <span class="checkmark"></span>
    </label>
    <label class="radioWrapper"> 1
        <input type="radio" id="q6o2" name="q6">
        <span class="checkmark"></span>
    </label>
    <label class="radioWrapper"> -1
        <input type="radio" id="q6o3" name="q6">
        <span class="checkmark"></span>
    </label>
    <label class="radioWrapper"> 0.5
        <input type="radio" id="q6o4" name="q6">
        <span class="checkmark"></span>
    </label>
</div>
 </div>
	<div class="container">
<p>What is the slope of the line defined by the equation <em>y = 2x + 1</em>?</p>
<div class="options">
    <label class="radioWrapper"> 1
        <input type="radio" id="q7o1" name="q7">
        <span class="checkmark"></span>
    </label>
    <label class="radioWrapper"> 2
        <input type="radio" id="q7o2" name="q7">
        <span class="checkmark"></span>
    </label>
    <label class="radioWrapper"> -1
        <input type="radio" id="q7o3" name="q7">
        <span class="checkmark"></span>
    </label>
    <label class="radioWrapper"> -2
        <input type="radio" id="q7o4" name="q7">
        <span class="checkmark"></span>
    </label>
</div>
 </div>
	<div class="container">
<p>What is the value of <em>x</em> in the equation <em>5x - 7 = 18</em>?</p>
<div class="options">
    <label class="radioWrapper"> 3
        <input type="radio" id="q8o1" name="q8">
        <span class="checkmark"></span>
    </label>
    <label class="radioWrapper"> 4
        <input type="radio" id="q8o2" name="q8">
        <span class="checkmark"></span>
    </label>
    <label class="radioWrapper"> 5
        <input type="radio" id="q8o3" name="q8">
        <span class="checkmark"></span>
    </label>
    <label class="radioWrapper"> 6
        <input type="radio" id="q8o4" name="q8">
        <span class="checkmark"></span>
    </label>
</div>
 </div>
	<div class="container">
<p>What is the value of <em>(7<sup>2</sup>)</em>?</p>
<div class="options">
    <label class="radioWrapper"> 14
        <input type="radio" id="q9o1" name="q9">
        <span class="checkmark"></span>
    </label>
    <label class="radioWrapper"> 49
        <input type="radio" id="q9o2" name="q9">
        <span class="checkmark"></span>
    </label>
    <label class="radioWrapper"> 28
        <input type="radio" id="q9o3" name="q9">
        <span class="checkmark"></span>
    </label>
    <label class="radioWrapper"> 21
        <input type="radio" id="q9o4" name="q9">
        <span class="checkmark"></span>
    </label>
</div>
 </div>
	<div class="container">
<p>What is the value of <em>10! ( factorial)</em>?</p>
<div class="options">
    <label class="radioWrapper"> 3628800
        <input type="radio" id="q10o1" name="q10">
        <span class="checkmark"></span>
    </label>
    <label class="radioWrapper"> 362880
        <input type="radio" id="q10o2" name="q10">
        <span class="checkmark"></span>
    </label>
    <label class="radioWrapper"> 36288
        <input type="radio" id="q10o3" name="q10">
        <span class="checkmark"></span>
    </label>
    <label class="radioWrapper"> 3628
        <input type="radio" id="q10o4" name="q10">
        <span class="checkmark"></span>
    </label>
</div>
 </div>
	
<div >
<button type="submit" id="submit">Submit </button> <span>  </span><button type="reset" id="reset">Reset</button>
</div>
</form>

</div>
</main>

<footer>
<div class="BoxContainer">
<img id="fLogo" src="../Resources/Img//MQ.png" alt="Meta Quiz Logo"/>

<div class="FBoxes">
<span id="BoxTi">Company</span>
<ul class="Ful"> 
<li id="fLists"> <a style="color:white;" id="home" href="redirect.html"> Who is META?</a> </li>
<li id="fLists"><a style="color:white;" id="home" href="redirect.html"> Where are we? </a></li>
<li id="fLists"><a style="color:white;" id="home" href="redirect.html"> Our Clients? </a></li>
</ul>
 </div>
 
 <div class="FBoxes">
<span id="BoxTi"> Products</span>
<ul class="Ful"> 
<li id="fLists"> <a style="color:white;" id="home" href="redirect.html"> Weather System </a></li>
<li id="fLists"><a style="color:white;" id="home" href="redirect.html"> Book Store</a> </li>
</ul>

 </div>
 
 </div>
 
 <div class="Socials">
 <span id="follow"> Follow Us </span>
 <div id="SM">
 <a id="sLinks" href="http://instagram.com"><img src="../Resources/Img/Insta.png" alt="Instagram"></a>
<a id="sLinks" href="http://facebook.com"> <img src="../Resources/Img/Facebook.png" alt="Facebook"></a>
 <a id="sLinks" href="http://Youtube.com"><img src="../Resources/Img/Youtube.png" alt="YouTube"></a>
<a id="sLinks" href="http://twitter.com"> <img src="../Resources/Img/X.png" alt="Twitte X"></a>
 
 </div>
 </div>
 
 <div id="lic">
 <ul> 
 <li id="footerListPoints" class="rightBorder"><a style="color:white;" id="home" href="redirect.html">Privacy </a></li>
 <li id="footerListPoints" class="rightBorder"> <a style="color:white;" id="home" href="redirect.html">Terms &amp; Conditions </a> </li>
 <li id="footerListPoints"><a style="color:white;" id="home" href="redirect.html"> Security </a></li>
 </ul>
 
 <span id="MetaCopy"> &copy; META 2024 </span>
 </div>
</footer>
</html>