<!DOCTYPE html>
<html>
 <head> <link href="../Resources/img/MQ_fav.png" type="image/png" rel="icon"><link rel="stylesheet" href="../Resources/css/hfStyle.css">
<link rel="stylesheet" href="../Resources/css/S.css"> </head>
<header>
<img id="Logo" src="../Resources/Img/MQ.png" alt="Meta Quiz Logo"/>
<div class="listContainer">
<ul id="headerList"> 
<li id="headerListPoints" class="rightBorder"> <a id="home" href="index.html" style="color:white;"> Home </a> </li> 
<li id="headerListPoints" class="rightBorder"><a id="home" href="course_selection.html" style="color:white;"> Practice </a> </li>
<li id="headerListPoints"><a id="home" href="about_us.html" style="color:white;"> About Us </a> </li>
</ul>
</div>

<div id="LogTab">
<span id="LogIn"><a id="home" href="log_in.html" style="color:white;">Log In</a> </span>
<span id="SignUp"> <a id="home" href="sign_up.html" style="color:white;"> Sign Up </a></span>
<div>
</header>
<body>
<main>
<div class="sciQuestionBody">
    <div class="subInfo"> Science Questions</div>
<form method="" action="" >

   <div class="container">
    <p>What is the chemical symbol for gold?</p>
    <div class="options">
        <label class="radioWrapper"> Gd
            <input type="radio" id="q3111o1" name="q41">
            <span class="checkmark"></span>
        </label>
        <label class="radioWrapper"> Au
            <input type="radio" id="q3111o2" name="q41">
            <span class="checkmark"></span>
        </label>
        <label class="radioWrapper"> Ag
            <input type="radio" id="q3111o3" name="q41">
            <span class="checkmark"></span>
        </label>
        <label class="radioWrapper"> Ga
            <input type="radio" id="q3111o4" name="q41">
            <span class="checkmark"></span>
        </label>
    </div>
	</div>
	

	<div class="container">
    
    <p>What is the powerhouse of the cell?</p>
    <div class="options">
        <label class="radioWrapper"> Nucleus
            <input type="radio" id="q3112o1" name="q42">
            <span class="checkmark"></span>
        </label>
        <label class="radioWrapper"> Ribosome
            <input type="radio" id="q3112o2" name="q42">
            <span class="checkmark"></span>
        </label>
        <label class="radioWrapper"> Mitochondria
            <input type="radio" id="q3112o3" name="q42">
            <span class="checkmark"></span>
        </label>
        <label class="radioWrapper"> Endoplasmic Reticulum
            <input type="radio" id="q3112o4" name="q42">
            <span class="checkmark"></span>
        </label>
    </div>
    </div>
	<div class="container">
    <p>What is the speed of light in vacuum?</p>
    <div class="options">
        <label class="radioWrapper"> 3 x 10^8 m/s
            <input type="radio" id="q3113o1" name="q43">
            <span class="checkmark"></span>
        </label>
        <label class="radioWrapper"> 3 x 10^7 m/s
            <input type="radio" id="q3113o2" name="q43">
            <span class="checkmark"></span>
        </label>
        <label class="radioWrapper"> 3 x 10^9 m/s
            <input type="radio" id="q3113o3" name="q43">
            <span class="checkmark"></span>
        </label>
        <label class="radioWrapper"> 3 x 10^6 m/s
            <input type="radio" id="q3113o4" name="q43">
            <span class="checkmark"></span>
        </label>
    </div>
    </div>
	<div class="container">
    <p>Who proposed the theory of evolution?</p>
    <div class="options">
        <label class="radioWrapper"> Isaac Newton
            <input type="radio" id="q3114o1" name="q44">
            <span class="checkmark"></span>
        </label>
        <label class="radioWrapper"> Albert Einstein
            <input type="radio" id="q3114o2" name="q44">
            <span class="checkmark"></span>
        </label>
        <label class="radioWrapper"> Charles Darwin
            <input type="radio" id="q3114o3" name="q44">
            <span class="checkmark"></span>
        </label>
        <label class="radioWrapper"> Nikola Tesla
            <input type="radio" id="q3114o4" name="q44">
            <span class="checkmark"></span>
        </label>
    </div>
    </div>
	<div class="container">
    <p>What is the most abundant gas in the Earth's atmosphere?</p>
    <div class="options">
        <label class="radioWrapper"> Oxygen
            <input type="radio" id="q3115o1" name="q45">
            <span class="checkmark"></span>
        </label>
        <label class="radioWrapper"> Carbon Dioxide
            <input type="radio" id="q3115o2" name="q45">
            <span class="checkmark"></span>
        </label>
        <label class="radioWrapper"> Nitrogen
            <input type="radio" id="q3115o3" name="q45">
            <span class="checkmark"></span>
        </label>
        <label class="radioWrapper"> Argon
            <input type="radio" id="q3115o4" name="q45">
            <span class="checkmark"></span>
        </label>
    </div>
    </div>
	<div class="container"></div>
	<div class="container">
    <p>What is the pH of pure water at 25°C?</p>
    <div class="options">
        <label class="radioWrapper"> 5
            <input type="radio" id="q3116o1" name="q46">
            <span class="checkmark"></span>
        </label>
        <label class="radioWrapper"> 7
            <input type="radio" id="q3116o2" name="q46">
            <span class="checkmark"></span>
        </label>
        <label class="radioWrapper"> 9
            <input type="radio" id="q3116o3" name="q46">
            <span class="checkmark"></span>
        </label>
        <label class="radioWrapper"> 11
            <input type="radio" id="q3116o4" name="q46">
            <span class="checkmark"></span>
        </label>
    </div>
    </div>
	<div class="container">
    <p>What is the atomic number of hydrogen?</p>
    <div class="options">
        <label class="radioWrapper"> 0
            <input type="radio" id="q3117o1" name="q47">
            <span class="checkmark"></span>
        </label>
        <label class="radioWrapper"> 1
            <input type="radio" id="q3117o2" name="q47">
            <span class="checkmark"></span>
        </label>
        <label class="radioWrapper"> 2
            <input type="radio" id="q3117o3" name="q47">
            <span class="checkmark"></span>
        </label>
        <label class="radioWrapper"> 3
            <input type="radio" id="q3117o4" name="q47">
            <span class="checkmark"></span>
        </label>
    </div>
    </div>
	<div class="container">
    <p>What is the common name for ascorbic acid?</p>
    <div class="options">
        <label class="radioWrapper"> Vitamin A
            <input type="radio" id="q3118o1" name="q48">
            <span class="checkmark"></span>
        </label>
        <label class="radioWrapper"> Vitamin B
            <input type="radio" id="q3118o2" name="q48">
            <span class="checkmark"></span>
        </label>
        <label class="radioWrapper"> Vitamin C
            <input type="radio" id="q3118o3" name="q48">
            <span class="checkmark"></span>
        </label>
        <label class="radioWrapper"> Vitamin D
            <input type="radio" id="q3118o4" name="q48">
            <span class="checkmark"></span>
        </label>
    </div>
    </div>
	<div class="container">
    <p>What is the freezing point of water in Fahrenheit?</p>
    <div class="options">
        <label class="radioWrapper"> 0°F
            <input type="radio" id="q3119o1" name="q49">
            <span class="checkmark"></span>
        </label>
        <label class="radioWrapper"> 32°F
            <input type="radio" id="q3119o2" name="q49">
            <span class="checkmark"></span>
        </label>
        <label class="radioWrapper"> 100°F
            <input type="radio" id="q3119o3" name="q49">
            <span class="checkmark"></span>
        </label>
        <label class="radioWrapper"> 212°F
            <input type="radio" id="q3119o4" name="q49">
            <span class="checkmark"></span>
        </label>
    </div>
    </div>
<div >
<button type="submit" id="submit">Submit </button> <span>  </span><button type="reset" id="reset">Reset</button>
</div>
</form>

</div>
</main>
</body>


<footer>
<div class="BoxContainer">
<img id="fLogo" src="../Resources/Img//MQ.png" alt="Meta Quiz Logo"/>

<div class="FBoxes">
<span id="BoxTi">Company</span>
<ul class="Ful"> 
<li id="fLists"> <a style="color:white;" id="home" href="redirect.html"> Who is META?</a> </li>
<li id="fLists"><a style="color:white;" id="home" href="redirect.html"> Where are we? </a></li>
<li id="fLists"><a style="color:white;" id="home" href="redirect.html"> Our Clients? </a></li>
</ul>
 </div>
 
 <div class="FBoxes">
<span id="BoxTi"> Products</span>
<ul class="Ful"> 
<li id="fLists"> <a style="color:white;" id="home" href="redirect.html"> Weather System </a></li>
<li id="fLists"><a style="color:white;" id="home" href="redirect.html"> Book Store</a> </li>
</ul>

 </div>
 
 </div>
 
 <div class="Socials">
 <span id="follow"> Follow Us </span>
 <div id="SM">
 <a id="sLinks" href="http://instagram.com"><img src="../Resources/Img/Insta.png" alt="Instagram"></a>
<a id="sLinks" href="http://facebook.com"> <img src="../Resources/Img/Facebook.png" alt="Facebook"></a>
 <a id="sLinks" href="http://Youtube.com"><img src="../Resources/Img/Youtube.png" alt="YouTube"></a>
<a id="sLinks" href="http://twitter.com"> <img src="../Resources/Img/X.png" alt="Twitte X"></a>
 
 </div>
 </div>
 
 <div id="lic">
 <ul> 
 <li id="footerListPoints" class="rightBorder"><a style="color:white;" id="home" href="redirect.html">Privacy </a></li>
 <li id="footerListPoints" class="rightBorder"> <a style="color:white;" id="home" href="redirect.html">Terms &amp; Conditions </a> </li>
 <li id="footerListPoints"><a style="color:white;" id="home" href="redirect.html"> Security </a></li>
 </ul>
 
 <span id="MetaCopy"> &copy; META 2024 </span>
 </div>
</footer>
</html>
