<!DOCTYPE html>
 <head> <link rel="stylesheet" href="../Resources/css/hfStyle.css"> 
 <link rel="stylesheet" href="../Resources/css/S.css">
<link href="../Resources/img/MQ_fav.png" type="image/png" rel="icon"> </head>
<header>
<img id="Logo" src="../Resources/Img/MQ.png" alt="Meta Quiz Logo"/>
<div class="listContainer">
<ul id="headerList"> 
<li id="headerListPoints" class="rightBorder"> <a id="home" href="index.html" style="color:white;"> Home </a> </li> 
<li id="headerListPoints" class="rightBorder"><a id="home" href="course_selection.html" style="color:white;"> Practice </a> </li>
<li id="headerListPoints"><a id="home" href="about_us.html" style="color:white;"> About Us </a> </li>
</ul>
</div>

<div id="LogTab">
<span id="LogIn"><a id="home" href="log_in.html" style="color:white;">Log In</a> </span>
<span id="SignUp"> <a id="home" href="sign_up.html" style="color:white;"> Sign Up </a></span>
<div>
</header>

<main>
<div class="techQuestionBody">
    <div class="subInfo"> Technology Questions</div>
<form method="" action="" >
 
	<div class="container">
    <p>What does CPU stand for in computer terminology?</p>
    <div class="options">
        <label class="radioWrapper"> Central Processing Unit
            <input type="radio" id="q3120o1" name="q50">
            <span class="checkmark"></span>
        </label>
        <label class="radioWrapper"> Central Performance Unit
            <input type="radio" id="q3120o2" name="q50">
            <span class="checkmark"></span>
        </label>
        <label class="radioWrapper"> Computer Processing Unit
            <input type="radio" id="q3120o3" name="q50">
            <span class="checkmark"></span>
        </label>
        <label class="radioWrapper"> Central Power Unit
            <input type="radio" id="q3120o4" name="q50">
            <span class="checkmark"></span>
        </label>
    </div>
     </div>
	<div class="container">
    <p>Which programming language is known as the mother of all languages?</p>
    <div class="options">
        <label class="radioWrapper"> C
            <input type="radio" id="q3121o1" name="q51">
            <span class="checkmark"></span>
        </label>
        <label class="radioWrapper"> Java
            <input type="radio" id="q3121o2" name="q51">
            <span class="checkmark"></span>
        </label>
        <label class="radioWrapper"> Python
            <input type="radio" id="q3121o3" name="q51">
            <span class="checkmark"></span>
        </label>
        <label class="radioWrapper"> Fortran
            <input type="radio" id="q3121o4" name="q51">
            <span class="checkmark"></span>
        </label>
    </div>
     </div>
	<div class="container">
    <p>What does HTTP stand for in website addresses?</p>
    <div class="options">
        <label class="radioWrapper"> HyperText Transfer Protocol
            <input type="radio" id="q3122o1" name="q52">
            <span class="checkmark"></span>
        </label>
        <label class="radioWrapper"> Hyper Transfer Text Protocol
            <input type="radio" id="q3122o2" name="q52">
            <span class="checkmark"></span>
        </label>
        <label class="radioWrapper"> HyperText Testing Protocol
            <input type="radio" id="q3122o3" name="q52">
            <span class="checkmark"></span>
        </label>
        <label class="radioWrapper"> Hyper Transfer Testing Protocol
            <input type="radio" id="q3122o4" name="q52">
            <span class="checkmark"></span>
        </label>
    </div>
     </div>
	<div class="container">
    <p>What is the primary purpose of an operating system in a computer?</p>
    <div class="options">
        <label class="radioWrapper"> To provide a user interface
            <input type="radio" id="q3123o1" name="q53">
            <span class="checkmark"></span>
        </label>
        <label class="radioWrapper"> To manage hardware and software resources
            <input type="radio" id="q3123o2" name="q53">
            <span class="checkmark"></span>
        </label>
        <label class="radioWrapper"> To run applications
            <input type="radio" id="q3123o3" name="q53">
            <span class="checkmark"></span>
        </label>
        <label class="radioWrapper"> All of the above
            <input type="radio" id="q3123o4" name="q53">
            <span class="checkmark"></span>
        </label>
    </div>
     </div>
	<div class="container">
    <p>What does the 'www' stand for in website URLs?</p>
    <div class="options">
        <label class="radioWrapper"> World Wide Web
            <input type="radio" id="q3124o1" name="q54">
            <span class="checkmark"></span>
        </label>
        <label class="radioWrapper"> World Web Wide
            <input type="radio" id="q3124o2" name="q54">
            <span class="checkmark"></span>
        </label>
        <label class="radioWrapper"> Web World Wide
            <input type="radio" id="q3124o3" name="q54">
            <span class="checkmark"></span>
        </label>
        <label class="radioWrapper"> Wide World Web
            <input type="radio" id="q3124o4" name="q54">
            <span class="checkmark"></span>
        </label>
    </div>
     </div>
	<div class="container">
    <p>What is the name of the first computer ever built?</p>
    <div class="options">
        <label class="radioWrapper"> ENIAC
            <input type="radio" id="q3125o1" name="q55">
            <span class="checkmark"></span>
        </label>
        <label class="radioWrapper"> UNIVAC
            <input type="radio" id="q3125o2" name="q55">
            <span class="checkmark"></span>
        </label>
        <label class="radioWrapper"> IBM 701
            <input type="radio" id="q3125o3" name="q55">
            <span class="checkmark"></span>
        </label>
        <label class="radioWrapper"> Altair IBN 8800
            <input type="radio" id="q3125o4" name="q55">
            <span class="checkmark"></span>
        </label>
    </div>
     </div>
	<div class="container">
    <p>Which company was established on April 1st, 1976 by Steve Jobs, Steve Wozniak and Ronald Wayne?</p>
    <div class="options">
        <label class="radioWrapper"> Microsoft
            <input type="radio" id="q3126o1" name="q56">
            <span class="checkmark"></span>
        </label>
        <label class="radioWrapper"> Atari
            <input type="radio" id="q3126o2" name="q56">
            <span class="checkmark"></span>
        </label>
        <label class="radioWrapper"> Commodore
            <input type="radio" id="q3126o3" name="q56">
            <span class="checkmark"></span>
        </label>
        <label class="radioWrapper"> Apple
            <input type="radio" id="q3126o4" name="q56">
            <span class="checkmark"></span>
        </label>
    </div>
     </div>
	<div class="container">
    <p>What does the 'Byte' stand for in technology?</p>
    <div class="options">
        <label class="radioWrapper"> Bit Yield Transfer Encoding
            <input type="radio" id="q3127o1" name="q57">
            <span class="checkmark"></span>
        </label>
        <label class="radioWrapper"> Binary Term
            <input type="radio" id="q3127o2" name="q57">
            <span class="checkmark"></span>
        </label>
        <label class="radioWrapper"> Baud Yearly Test Error
            <input type="radio" id="q3127o3" name="q57">
            <span class="checkmark"></span>
        </label>
        <label class="radioWrapper"> None of the above
            <input type="radio" id="q3127o4" name="q57">
            <span class="checkmark"></span>
        </label>
    </div>
     </div>
	<div class="container">
    <p>What is the full form of E-Mail?</p>
    <div class="options">
        <label class="radioWrapper"> Electronic Mail
            <input type="radio" id="q3128o1" name="q58">
            <span class="checkmark"></span>
        </label>
        <label class="radioWrapper"> Electric Mail
            <input type="radio" id="q3128o2" name="q58">
            <span class="checkmark"></span>
        </label>
        <label class="radioWrapper"> Engine Mail
            <input type="radio" id="q3128o3" name="q58">
            <span class="checkmark"></span>
        </label>
        <label class="radioWrapper"> Electronic Mode
            <input type="radio" id="q3128o4" name="q58">
            <span class="checkmark"></span>
        </label>
    </div>
      </div>
 
<div >
<button type="submit" id="submit">Submit </button> <span>  </span><button type="reset" id="reset">Reset</button>
</div>
</form>

</div>
</main>

<footer>
<div class="BoxContainer">
<img id="fLogo" src="../Resources/Img//MQ.png" alt="Meta Quiz Logo"/>

<div class="FBoxes">
<span id="BoxTi">Company</span>
<ul class="Ful"> 
<li id="fLists"> <a style="color:white;" id="home" href="redirect.html"> Who is META?</a> </li>
<li id="fLists"><a style="color:white;" id="home" href="redirect.html"> Where are we? </a></li>
<li id="fLists"><a style="color:white;" id="home" href="redirect.html"> Our Clients? </a></li>
</ul>
 </div>
 
 <div class="FBoxes">
<span id="BoxTi"> Products</span>
<ul class="Ful"> 
<li id="fLists"> <a style="color:white;" id="home" href="redirect.html"> Weather System </a></li>
<li id="fLists"><a style="color:white;" id="home" href="redirect.html"> Book Store</a> </li>
</ul>

 </div>
 
 </div>
 
 <div class="Socials">
 <span id="follow"> Follow Us </span>
 <div id="SM">
 <a id="sLinks" href="http://instagram.com"><img src="../Resources/Img/Insta.png" alt="Instagram"></a>
<a id="sLinks" href="http://facebook.com"> <img src="../Resources/Img/Facebook.png" alt="Facebook"></a>
 <a id="sLinks" href="http://Youtube.com"><img src="../Resources/Img/Youtube.png" alt="YouTube"></a>
<a id="sLinks" href="http://twitter.com"> <img src="../Resources/Img/X.png" alt="Twitte X"></a>
 
 </div>
 </div>
 
 <div id="lic">
 <ul> 
 <li id="footerListPoints" class="rightBorder"><a style="color:white;" id="home" href="redirect.html">Privacy </a></li>
 <li id="footerListPoints" class="rightBorder"> <a style="color:white;" id="home" href="redirect.html">Terms &amp; Conditions </a> </li>
 <li id="footerListPoints"><a style="color:white;" id="home" href="redirect.html"> Security </a></li>
 </ul>
 
 <span id="MetaCopy"> &copy; META 2024 </span>
 </div>
</footer>
</html>